@media(max-width: 1200px) {
    footer main nav {
        max-width: 63rem;
    }
}

@media(max-width: 991px) {
   
    footer main nav {
        max-width: 45rem;
    }
}

@media(max-width: 768px) {

    footer main nav {
        max-width: 100%;
    }
}

@media(max-width: 600px) {
  
    
}

@media(max-width: 480px) {
    footer {
        padding: 4rem 0;
    }

    footer main {
        padding-bottom: 4rem;
    }

    footer main nav {
        flex-direction: column;
        align-items: center;
    }

    footer main nav .item {
        margin-bottom: 4rem;
    }

    footer main nav .item:last-child {
        margin-bottom: 0;
    }

    footer main nav .item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer main nav .item h6 {
        text-align: center;
    }

    footer .copy {
        flex-direction: column;
    }

    footer .copy img {
        margin-top: 0.8rem;
    }
    footer .copy .group {
        align-items: center;
    }

}